<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Restaurant menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
        </li>    
        <li class="nav-item">
            <a class="nav-link" href="/drinks">Drinks<span class="sr-only"></span></a>
       </li>  
        <li class="nav-item">
                <a class="nav-link" href="/starters">Starters<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="/mains">Mains<span class="sr-only"></span></a>
        </li>  
        <li class="nav-item">
            <a class="nav-link" href="/sides">Sides<span class="sr-only"></span></a>
        </li>  
        <li class="nav-item">
                <a class="nav-link" href="/desserts">Desserts<span class="sr-only"></span></a>
        </li>  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session.logged_in %}
            {% if session.manager %}
             <li class="nav-item">
              <a class="nav-link" href="/dashboard">Dashboard <span class="sr-only"></span></a>
             </li>           
             <li class="nav-item">
              <a class="nav-link" href="/stock_management">Stock Management<span class="sr-only"></span></a>
             </li> 
             <li class="nav-item">
              <a class="nav-link" href="/restaurant_floor">Floor<span class="sr-only"></span></a>
             </li>  
             <li class="nav-item">
                <a class="nav-link" href="/kitchen">Kitchen<span class="sr-only"></span></a>
             </li> 
             <li class="nav-item">
              <a class="nav-link" href="/logout">Logout<span class="sr-only"></span></a>
             </li>  
            {% elif session.chef %}
              <li class="nav-item">
                <a class="nav-link" href="/restaurant_floor">Floor<span class="sr-only"></span></a>
               </li>  
             <li class="nav-item">
                <a class="nav-link" href="/stock_management">Stock Management<span class="sr-only"></span></a>
             </li> 
             <li class="nav-item">
                <a class="nav-link" href="/kitchen">Kitchen<span class="sr-only"></span></a>
             </li> 
             <li class="nav-item">
              <a class="nav-link" href="/logout">Logout<span class="sr-only"></span></a>
             </li>  
          {% else %}          
          <li class="nav-item">
             <a class="nav-link" href="/restaurant_floor">Floor<span class="sr-only"></span></a>
          </li>  
         <li class="nav-item">
              <a class="nav-link" href="/logout">Logout<span class="sr-only"></span></a>
         </li>  
      
        
      
      
        {% endif %} 
        {% else %} 
        <li class="nav-item">
          <a class="nav-link" href="/login">Login<span class="sr-only"></span></a>
        </li>  
       
       {% endif %}
      </ul>
    </div>
  </nav>