{% extends 'layout.html' %}

{% block body %}

    <h1>Bill History</h1>
    <h3><small>Welcome {{session.name}}</small></h3>
    <hr>

    <table class="table table-striped">
        
        <tr>
            <th>Order ID</th>
            <th>Table Number</th>
            <th>Total</th>
            <th>Covers</th>
            <th>Date Opened</th>
            <th>Date Closed</th>

       
        </tr>
        {% for hist in History %}
       <tr>
            <td>{{hist.order_id}}</td>
            <td>{{hist.table_id}}</td>
            <td>{{hist.total}}</td>
            <td>{{hist.covers}}</td>
            <td>{{hist.date_opened}}</td>
            <td>{{hist.date_closed}}</td>


        {% endfor %}
           
           
    </table>


{% endblock %}