{% extends 'layout.html' %}

{% block body %}
    <h1>Daily Summary</h1>
    <p>Date: <input type="text" id="datepicker" value=""></p>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
            $(function () {
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                onSelect: function () {
                var dateObject = $(this).datepicker('getDate'); 
                window.history.replaceState({}, document.title, "/daily_summary/"  + this.value);
                location.reload();
        }
    });
});

    </script>

    
    <h3 class="float-right"><small>Welcome {{session.name}}</small></h3>
    <hr>
    <script>
            $(document).ready( function () {
          $('#example').DataTable();
      } );
    </script>
    <h1>Tables</h1>
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        
        <thead>
            <tr>
                <th>Total Customers Served</th>
                <th>Total Tables Closed</th>
                <th>Total Takings</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Total Customers Served</th>
                <th>Total Tables Closed</th>
                <th>Total Takings</th>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>{{DailyCovers}}</td>
                <td>{{DailyTables}}</td>
                <td>£{{DailyTotal}}</td>
            </tr>
        </tbody>
    </table>
    <h1>Stock</h1>
    <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        
            <thead>
                <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Quantity Sold</th>
                    <th>Total Price</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                        <th>Product ID</th>
                        <th>Product Name</th>
                        <th>Quantity Sold</th>
                        <th>Total Price</th>
                </tr>
            </tfoot>
            <tbody>
                {% for item in DailyItems %}
                <tr>
                    <td>{{item.product_id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.quantityTotal}}</td>
                    <td>{{item.total}}</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>
{% endblock %}