{% extends 'layout.html' %}

{% block body %}
<h1>Desserts</h1>
<hr>    
<table class="table table-striped">
        {% for dessert in desserts %}
        <tr><th>Name</th>
            <th>Price</th>
            <th>Description</th></tr>
           <tr>
                <td>
                    {{dessert.name}}   
                </td>
                <td>
                    £{{dessert.price}}
                </td>
                <td>
                    {{dessert.description}}

                </td>
                
            </tr>
            
        {% endfor %}
    </table>
    <br>
{% endblock %}