{% extends 'layout.html' %}

{% block body %}
<h1>Order Starters - Table {{table_id}}</h1>
<hr>

<div id="Tablestarters">
            <div class="row-fluid" id="main">
                {% for starter in starters %}
                {% if loop.index0 % 3 == 0 %}
                <div class="row">
                {% endif %}
                    <div class="col-sm-4">
                        {% if starter.stock == 0  %}
                            <button type="button" class="btn-lg btn-block btn-danger" data-toggle="modal" data-target="#orderModal{{starter.product_id}}" disabled="true">{{starter.name}} ({{starter.stock}})</button>
                        {% elif starter.stock <= 30 %}
                            <button type="button" class="btn-lg btn-block btn-warning" data-toggle="modal" data-target="#orderModal{{starter.product_id}}">{{starter.name}} ({{starter.stock}})</button>
                        {% else %}
                            <button type="button" class="btn-lg btn-block btn-success" data-toggle="modal" data-target="#orderModal{{starter.product_id}}">{{starter.name}} ({{starter.stock}})</button>
                        {% endif %}
                    </div>
                {% if loop.index0 % 3 == 2 or loop.last %}
                </div>
                {% endif %}
                <br>
                {% endfor %}
            </div>
        </div>
<hr>
{% for starter in starters %}
<!-- Modal -->
<div class="modal fade" id="orderModal{{ starter.product_id}}" role="dialog">
        <div class="modal-dialog modal-lg">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <h3>{{starter.name}}</h3>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                    <table id="Tablestarter" class="table">
                        <th>Price</th>
                        <th>Message</th>
                        <th>Stock</th>
                        <th>Quantity</th>
                        <th></th>
                        <th></th>
                        </tr>
                            <form id = "Formstarter" action = "/tables/{{table_id}}/add_to_order/{{order_id}}/{{starter.product_id}}/{{starter.price}}/" method = "POST">
                            <td>£{{starter.price}}</td>
                            <td><textarea name = "message{{starter.product_id}}" id="message{{starter.product_id}}"></textarea></td>
                            <td>{{starter.stock}}</td>
                            <td><input type="button" id ='SubButton{{starter.product_id}}' value = "-">
                            <input type="number" min= "0" name="quantity{{starter.product_id}}" style="width: 50px;" id="quantity{{starter.product_id}}"  value =1>
                            <input type="button" id ='AddButton{{starter.product_id}}' value = "+">
                            <script>
                            $('#SubButton{{starter.product_id}}').on('click', function () {
                            var input = $('#quantity{{starter.product_id}}');
                            if (parseInt(input.val()) != 0){
                                input.val(parseInt(input.val()) - 1);
                                }
                            })               
                            </script>
                            <script>
                                $('#AddButton{{starter.product_id}}').on('click', function () {
                                var input = $('#quantity{{starter.product_id}}');
                                if (parseInt(input.val()) < '{{starter.stock}}' ){
                                    input.val(parseInt(input.val()) + 1);
                                }
                            })    
                            </script>
                            </td>
                            <td><input class = "btn btn-success" type = "Submit" value = "Add to Order"></input></td>
                            <td><button type="" class="btn btn-primary" data-dismiss="modal">Cancel</button></td>
                        </tr>
                    </form>
                </table>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
{% endblock %}