{% extends 'layout.html' %}

{% block body %}
<h1>Drinks</h1>
<h4>Order ID: {{order_id}}</h4>
<hr>

{% for category in sub_categories %}
<style>
        #Table{{category[2]}}{
            display: none;
        }
        </style>
<h3 id="btn{{category[2]}}"><a>{{category[0]}}</a><button class="float-right">...</button></h3>
<script>
        $("#btn{{category[2]}}").click(function(){
        $("#Table{{category[2]}}").toggle();
      
    });
</script>
<table id="Table{{category[2]}}" class="table table-striped">
        <tr><th>Name</th>
        <th>Price</th>
        <th>Optional Message</th>
        <th>Stock</th>
        <th>Quantity</th>
        
        <th></th>

    </tr>
{% for drink in category[1] %}



  
            <tr>
                    <form id = "Form{{category[2]}}" action = "/tables/{{table_id}}/add_to_order/{{order_id}}/{{drink.product_id}}/{{drink.price}}/" method = "POST">
                    <td>{{drink.name}}</td> 
                    <td>£{{drink.price}}</td>
                    <td><textarea style="width: 100px;" name = "message{{drink.product_id}}" id="message{{drink.product_id}}"></textarea></td>
                    <td>{{drink.stock}}</td>
                    <td><input type="button" id ='SubButton{{drink.product_id}}' value = "-">
                    <input type="number" min= "0" name="quantity{{drink.product_id}}" style="width: 30px;" id="quantity{{drink.product_id}}" value =0>
                    <input type="button" id ='AddButton{{drink.product_id}}' value = "+">
                    <script>
                    $('#SubButton{{drink.product_id}}').on('click', function () {
                    var input = $('#quantity{{drink.product_id}}');
                    if (parseInt(input.val()) != 0){
                        input.val(parseInt(input.val()) - 1);
                        }
                    })               
                    </script>
                    <script>
                        $('#AddButton{{drink.product_id}}').on('click', function () {
                        var input = $('#quantity{{drink.product_id}}');
                        if (parseInt(input.val()) < {{drink.stock}} ){
                            input.val(parseInt(input.val()) + 1);
                        }
                    })    
                    </script>
                    </td>
                    {% if drink.stock > 0 %}
                        <td><input class = "btn btn-success" type = "Submit" value = "Add to Order"></input></td>
                    {% else %}
                        <td><input  type = "Submit"  class="btn btn-danger" value = "Add to Order" disabled="true"></input></td>
                    {% endif %}
                   
                

                </tr>
            </form>
    {% endfor %}  
</table>

    

<hr>
{% endfor %}






{% endblock %}