{% extends 'layout.html' %}
{% block body %}
        
<center>
    <svg width="442" height="413" xmlns="http://www.w3.org/2000/svg">
        <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
        <g>
         <rect fill="#fff" id="canvas_background" height="415" width="444" y="-1" x="-1"/>
         <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
          <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
         </g>
        </g>
        
        
         <a href="/tables/1"><rect id="1" height="77" width="77" y="5.4375" x="6.5" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/2"><rect id="2" height="77" width="77" y="5.4375" x="231.49826" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/3"><rect stroke="#000" id="3" height="83.000002" width="83.000002" y="5.639519" x="346.603513" stroke-width="1.5" fill="#0000FF"/></a>
         <a href="/tables/4"><rect id="4" height="77" width="77" y="5.444571" x="115.706552" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/5"><rect id="5" height="77" width="77" y="329.01767" x="5.5" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/6"><rect id="6" height="77" width="77" y="329.01767" x="230.49826" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/7"><rect id="7" height="77" width="77" y="329.219688" x="351.603516" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/8"><rect id="8" height="77" width="77" y="329.02474" x="114.706552" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/9"><rect stroke="#000" id="9" height="77" width="77" y="115.456543" x="6.5" stroke-width="1.5" fill="#0000FF"/></a>
         <a href="/tables/10"><rect id="10" height="77" width="77" y="224.4561" x="5.5" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/11"><rect stroke="#000" id="11" height="77" width="77" y="115.456543" x="351.5" stroke-width="1.5" fill="#0000FF"/></a>
         <a href="/tables/12"><rect id="12" height="77" width="77" y="224.4561" x="350.5" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/20"><rect id="20" height="108" width="108" y="158.9375" x="157.5" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#000" fill="#0000FF"/></a>
         <a href="/tables/1"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_26" y="57.9375" x="27.5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">1</text></a>        
         <a href="/tables/2"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_26" y="167.9375" x="27.5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">2</text></a>
         <a href="/tables/3"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_27" y="279.946472" x="26.5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">3</text></a>
         <a href="/tables/4"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_28" y="383.975739" x="26.5" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">4</text></a>
         <a href="/tables/5"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_29" y="383.975739" x="141.517387" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">5</text></a>
         <a href="/tables/6"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_30" y="383.975739" x="257.24984" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">6</text></a>
         <a href="/tables/7"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_31" y="383.975739" x="375.398506" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">7</text></a>
         <a href="/tables/8"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_32" y="277.594353" x="375.398506" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">8</text></a>
         <a href="/tables/9"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_33" y="172.785004" x="375.398506" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">9</text></a>
         <a href="/tables/10"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_34" y="62.504646" x="362.398506" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">10</text></a>
         <a href="/tables/11"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_35" y="61.504646" x="245.248596" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">11</text></a>
         <a href="/tables/12"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_36" y="59.504646" x="126.248596" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">12</text></a>
         <a href="/tables/20"><text xml:space="preserve" text-anchor="start" font-family="Helvetica, Arial, sans-serif" font-size="47" id="svg_37" y="229.504646" x="186.248596" stroke-opacity="null" stroke-width="0" stroke="#000" fill="#ffffff">20</text></a>
        </g>
       </svg>
       {% for table in tables %}
       {% if table.active == 1 %}
           <script>
                   document.getElementById("{{table.table_id}}").style.fill = "#008000";
                   console.log('{{table.table_id}}')
           </script>
       {% endif %}
   {% endfor %}
  
</center>


{% endblock %}