{% extends 'layout.html' %}
{% block body %}
<center>
    
<img src="/static/floor.svg" usemap="#image-map">
  
</center>
<map name="image-map">
    <area target="" alt="Table 1" title="Table 1" href="/tables/1" coords="74,70,54" shape="circle">
    <area target="" alt="Table 2" title="Table 2" href="/tables/2" coords="74,224,53" shape="circle">
    <area target="" alt="Table 3" title="Table 3" href="/tables/3" coords="74,389,54" shape="circle">
    <area target="" alt="Table 4" title="Table 4" href="/tables/4" coords="65,563,57" shape="circle">
    <area target="" alt="Table 5" title="Table 5" href="/tables/5" coords="221,559,51" shape="circle">
    <area target="" alt="Table 6" title="Table 6" href="/tables/6" coords="396,559,54" shape="circle">
    <area target="" alt="Table 7" title="Table 7" href="/tables/7" coords="559,555,54" shape="circle">
    <area target="" alt="Table 8" title="Table 8" href="/tables/8" coords="568,385,55" shape="circle">
    <area target="" alt="Table 9" title="Table 9" href="/tables/9" coords="572,225,52" shape="circle">
    <area target="" alt="Table 10" title="Table 10" href="/tables/10" coords="569,66,48" shape="circle">
    <area target="" alt="Table11" title="Table11" href="/tables/11" coords="406,68,49" shape="circle">
    <area target="" alt="Table 12" title="Table 12" href="/tables/12" coords="229,64,58" shape="circle">
    <area target="" alt="Table 20" title="Table 20" href="/tables/20" coords="327,314,113" shape="circle">
</map>
{% endblock %}