{% extends 'layout.html' %}

{% block body %}
<h1>Sides</h1>
<hr>    
<table class="table table-striped">
        {% for side in sides %}
        <tr><th>Name</th>
            <th>Price</th>
            <th>Description</th></tr>
           <tr>
                <td>
                    {{side.name}}   
                </td>
                <td>
                    £{{side.price}}
                </td>
                <td>
                    {{side.description}}

                </td>
                
            </tr>
            
        {% endfor %}
    </table>
    <br>
{% endblock %}